/****************************************************************************
 *
 *   auddrive.rc
 *
 *   Copyright (c) 2022 leecher@dose.0wnz.at.  All Rights Reserved.
 *
 ***************************************************************************/

#include	<windows.h>
#include        <commctrl.h>
#include	"driver.h"
#include	"auddrive.rcv"

#include 	"config.h"


//
// Localizable strings - these are read into aszErrorBuffer (defined in
// initc.c and currently 250 bytes long).  Keep this buffer the length of
// the longest error message plus about 30% for localization.
//
STRINGTABLE MOVEABLE DISCARDABLE
BEGIN

/****************************************************
 *
 *   Load Error messages
 *
 ****************************************************/

 IDS_ESSCONFIG                     , "ESS Configuration"
 IDS_PORTSELECT                    , "ESS Base I/O Address"

 IDS_SOUND_CONFIG_BADPORT          , "The sound card cannot be found with this port number.  Check your settings and try again."
 IDS_SOUND_CONFIG_BADDMA           , "The sound card cannot be found with this DMA Channel.  Check your settings and try again."
 IDS_SOUND_CONFIG_BADINT           , "The sound card cannot be found with this Interrupt.  Check your settings and try again."
 IDS_SOUND_CONFIG_BAD_MPU401_PORT  , "The MPU401 hardware cannot be found with this port.  Check your settings and try again."
 IDS_SOUND_CONFIG_DMA_INUSE        , "The DMA channel is in use by another part of the system."
 IDS_SOUND_CONFIG_ERROR            , "Unexpeced error occurred during installation.  Check your settings and try again."
 IDS_SOUND_CONFIG_INT_INUSE        , "The Interrupt is in use by another part of the system."
 IDS_SOUND_CONFIG_MPU401_PORT_INUSE, "The MPU401 port address is in use by another part of the system."
 IDS_SOUND_CONFIG_PORT_INUSE       , "The port is in use by another part of the system."
 IDS_SOUND_CONFIG_RESOURCE         , "There was insufficient memory to install the driver."
 
 IDS_NOPORTS                       , "No suitable port is available for the ESS Card."
 IDS_NOINTERRUPTS                  , "No suitable interrupt is available for the ESS Card."
 IDS_NODMA                         , "No suitable DMA Channels is available for the ESS Card."
 IDS_ERROR_UNKNOWN                 , "An unexpected error has occurred.  Please try again."
 IDS_BADDMABUFFERSIZE              , "DMA buffer size must be between 4 and %d."
 
 /***********************************************************
  *
  *  This string appears in combo boxes and represents an
  *  option to disable the relvant feature
  *
  ***********************************************************/

 IDS_DISABLED                      , "Disable"

/****************************************************
 *
 *   Other error messages
 *
 ****************************************************/
 IDS_FAILREMOVE    "The AudioDrive driver cannot be removed because of a registry access problem."
 IDS_INSUFFICIENT_PRIVILEGE "You have insufficient privilege to install, remove or configure the AudioDrive driver"
 IDS_BUSY   "The AudioDrive driver is busy.  Try closing down volume controls and retrying.  If this doesn't work remove the Sound Blaster driver, reboot and re-install it."


/****************************************************************************
 *
 *  The following strings are help displayed by the sound blaster config
 *  dialog box.
 *
 ****************************************************************************/

 /*  Port selection help text */
    IDS_PORT_IOADDRESSCB         "This setting tells the system the port address at which your ESS card is located."

    IDS_PORT_OKBTN               "Pressing the Continue button will test the port address and attempt to detect which ESS model is installed."
    IDS_PORT_CANCELBTN           "Pressing the Cancel button exits the configuration dialog and restores your configuration to its original state if possible."

 /*  ESS config help text */
    IDS_ESS_DMACB                "This setting sets the DMA channel for your card."
    IDS_ESS_IRQCB                "This setting sets the interrupt to use for your card."
    IDS_ESS_MPU401IOADDRESSCB    "This setting tells the system the port address at which the MPU401 feature of your card is located."
    IDS_ESS_DMA16CB              "This setting sets the DMA channel for your card."
    IDS_ESS_IRQCHANCB            "This setting sets the IRQ channel for your card."

    IDS_ESS_ADVANCEDBTN         "Pressing the Advanced button allows you to configure the DMA buffer size in Kilobytes.  The default value of 16 Kilobytes is suitable for most purposes."
    IDS_ESS_IOADDRESSCB         "This setting tells the system the port address at which your card is located."

    IDS_FRM_IOADDRESSCB        "Help for I/O Address"
    IDS_FRM_MPU401IOADDRESSCB  "Help for MPU401 I/O Address"
    IDS_FRM_IRQCB              "Help for Interrupt"
    IDS_FRM_DMACB              "Help for DMA Channel"
    IDS_FRM_DMA16CB            "Help for DMA Channel"
    IDS_FRM_IRQCHANCB          "Help for Interrupt"

    IDS_FRM_ADVANCEDBTN        "Help for Advanced"
    IDS_FRM_OKBTN              "Help for OK"
    IDS_FRM_DETECTBTN          "Help for Continue"
    IDS_FRM_CANCELBTN          "Help for Cancel"
    IDS_PORT_ADDRESS           "I/O Address:"
    IDS_PORT_ADDRESS_SELECT    "I/O &Address:"
    IDS_DETECT                 "Continue"
    IDS_OK                     "OK"
END


DATA_FMPATCHES RT_BINARY PRELOAD DISCARDABLE fmsynth.bin




DLG_ESSCONFIG DIALOG 58, 43, 205, 150
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_DLGFRAME
CAPTION "ES1688 Configuration"
//FONT 8, "MS Shell Dlg"
FONT 8, "MS Shell Dlg"
BEGIN

    RTEXT           "Capture I&RQ:", IDD_IRQCB_T, 3, 12, 75, 10
    EDITTEXT        IDD_IRQCB, 81, 11, 50, 11, NOT WS_BORDER

    GROUPBOX        "", IDD_HELPTEXTFRAME, 7, 80, 190, 52
    LTEXT           "", IDD_HELPTEXT, 12, 93, 179, 34

    DEFPUSHBUTTON   "", IDOK, 147, 6, 52, 16
    PUSHBUTTON      "Cancel", IDCANCEL, 147, 25, 52, 16
    PUSHBUTTON      "Ad&vanced ...", IDD_ADVANCEDBTN, 147, 44, 52, 16
END


DLG_ADVANCED DIALOG 0, 0, 130, 47
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_DLGFRAME
CAPTION "Advanced Settings"
//FONT 8, "MS Shell Dlg"
FONT 8, "MS Shell Dlg"
BEGIN
    RTEXT           "&DMA Buffer Size (Kb):", -1, 0, 11, 82, 8
    EDITTEXT        IDD_DMABUFFEREC, 85, 8, 22, 12, ES_AUTOHSCROLL
    SCROLLBAR       IDD_DMABUFFERSC, 109, 8, 8, 12, SBS_VERT
    DEFPUSHBUTTON   "OK", IDOK, 23, 28, 40, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 69, 28, 40, 14
END
